@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');




body,main,section,h1,time,form,fieldset,label,input,button,caption,thead,th,tbody,tr,td{
  margin: 0.0em;
  border: 0.0em;
  padding: 0.0em;
  list-style: none;
  font-family: 'News Cycle', sans-serif;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  cursor: default;
}

body{
  font-size: 14px;
  line-height: 2.1em;
  color: #000;
  margin: 0;
}

section{
  clear: both;
}
main{
  padding:20px;
  overflow:hidden;
  overflow-x: auto
}
main>section,input[type=radio],.hide{
  display: none;
}main,main>input:nth-of-type(1):checked~section:nth-of-type(1),main>input:nth-of-type(2):checked~section:nth-of-type(2),main>input:nth-of-type(3):checked~section:nth-of-type(3),main>input:nth-of-type(4):checked~section:nth-of-type(4),main>input:nth-of-type(5):checked~section:nth-of-type(5),main>input:nth-of-type(6):checked~section:nth-of-type(6),main>input:nth-of-type(7):checked~section:nth-of-type(7),main>input:nth-of-type(8):checked~section:nth-of-type(8),main>input:nth-of-type(9):checked~section:nth-of-type(9),main>input:nth-of-type(10):checked~section:nth-of-type(10),main>input:nth-of-type(11):checked~section:nth-of-type(11),main>input:nth-of-type(12):checked~section:nth-of-type(12),main>input:nth-of-type(13):checked~section:nth-of-type(13),main>input:nth-of-type(14):checked~section:nth-of-type(14),main>input:nth-of-type(15):checked~section:nth-of-type(15),main>input:nth-of-type(16):checked~section:nth-of-type(16),main>input:nth-of-type(17):checked~section:nth-of-type(17),main>input:nth-of-type(18):checked~section:nth-of-type(18),main>input:nth-of-type(19):checked~section:nth-of-type(19),main>input:nth-of-type(20):checked~section:nth-of-type(20),main>input:nth-of-type(21):checked~section:nth-of-type(21),main>input:nth-of-type(22):checked~section:nth-of-type(22),main>input:nth-of-type(23):checked~section:nth-of-type(23),main>input:nth-of-type(24):checked~section:nth-of-type(24),main>input:nth-of-type(25):checked~section:nth-of-type(25),main>input:nth-of-type(26):checked~section:nth-of-type(26),main>input:nth-of-type(27):checked~section:nth-of-type(27),main>input:nth-of-type(28):checked~section:nth-of-type(28),main>input:nth-of-type(29):checked~section:nth-of-type(29),main>input:nth-of-type(30):checked~section:nth-of-type(30),main>input:nth-of-type(31):checked~section:nth-of-type(31),main>input:nth-of-type(32):checked~section:nth-of-type(32),main>input:nth-of-type(33):checked~section:nth-of-type(33),main>input:nth-of-type(34):checked~section:nth-of-type(34),main>input:nth-of-type(35):checked~section:nth-of-type(35),main>input:nth-of-type(36):checked~section:nth-of-type(36),main>input:nth-of-type(37):checked~section:nth-of-type(37),main>input:nth-of-type(38):checked~section:nth-of-type(38),main>input:nth-of-type(39):checked~section:nth-of-type(39),main>input:nth-of-type(40):checked~section:nth-of-type(40),main>input:nth-of-type(41):checked~section:nth-of-type(41),main>input:nth-of-type(42):checked~section:nth-of-type(42),main>input:nth-of-type(43):checked~section:nth-of-type(43),main>input:nth-of-type(44):checked~section:nth-of-type(44),main>input:nth-of-type(45):checked~section:nth-of-type(45),main>input:nth-of-type(46):checked~section:nth-of-type(46),main>input:nth-of-type(47):checked~section:nth-of-type(47),main>input:nth-of-type(48):checked~section:nth-of-type(48),main>input:nth-of-type(49):checked~section:nth-of-type(49),main>input:nth-of-type(50):checked~section:nth-of-type(50){
  display: block;
}label{
  margin: 0.0em 1.0em 0.0em 0.0em;
  line-height: 2.1em;
}main>label{
  float: left;
  text-decoration: none;
  color: #9CC886;
  transition: text-shadow 0.3s linear 0s;
  border-radius: 1em;
  padding: 0.5em 1.0em 0.5em 1.0em;
  border: 0.15em solid transparent;
  border-radius: 5px;
  cursor: pointer;
}main>input:checked+label{
  border: 0.15em solid #A22;
}main>label:hover{
  text-decoration: underline;
  text-shadow: 0.0em 0.0em 0.31em currentcolor, 0.0em 0.0em 0.62em currentcolor;
}fieldset>label,fieldset>input,fieldset>button{
  padding: 0.1em;
  margin: 0.0em;
  font-size: 1.0em;
}h1{
  font-size: 1.5em;
}

#dateForm fieldset{
  border:1px solid #ccc;
  background:#e4e4e4;
  margin:10px 0;
  padding:3px 8px;;
}
#dateForm input{
  border:1px solid #ccc;
}
  
#dateForm select,
#dateForm label,
#dateForm input,
button{
  font-size: 16px;
  padding:5px;
}


table{
  width:100%;
  border: none;
  border-collapse: collapse;
}
form>section>table{
  color: #000;
}caption{
  text-align: left;
  padding-left: 2.0em;
}

}.predicted caption{
  line-height: 1.0em;
  margin: 0.3em;
}
.pm{
  font-weight: bold;
}
.responsive-overflow{
  width:100%;
  overflow-x:auto;
}
th,td{
  text-align: center;
  padding: 5px;
  line-height: 100%;
  border-right: 1px dashed #999;
}
td:last-child,
th:last-child{
  border-right:0 !important
}


th{
  height:280px;
  vertical-align:bottom;
  text-align:center; !important;
  padding:0 !important;
  border-bottom:4px solid gold;
  border-right:1px solid #ccc !important;
}
th>span {
  display:inline-block;
  height:0px;
  position:relative;
}
th>span>span{
  display:block;
  position:absolute;
  bottom:-40px;
  left:-14px;
  width:280px;
  transform: rotate(-90deg);
  transform-origin: top left 0;
  text-align:left;
  padding:8px 8px 8px 20px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
/*
th>span>span:before{
  content:'';
  display:block;
  background:gold;
  width:10px;
  height:10px;
  position:absolute;
  top:50%;
  margin-top:-5px;
  left:-7px;
  border-radius:50%;
  border:2px solid #fff;
}
*/
tr>td:empty{
  color:#ccc; 
}
tr>td:empty:before{content:'N/A';}
tr:nth-child(even)>td{
  background:#e4e4e4;
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc
}
tbody>tr:nth-child(4n)>td{
  border-bottom:2px solid #888;
}




thead {display: table-row}

@page {  
  size: 11in 8.5in;
  
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
  @top-right {
    content: 'Metro Timetables';
    margin: 30pt 0 10pt 0;
    font-size: 8pt;
  }
  
}
  
 
@media print{

  body{    
    font-size: 0.1in;
    line-height: 2.1em;
    color: #000;
    margin: 0;
  }
  
  fieldset, input, button, select, label{
    display:none;
  }
  
  #dateForm{
    page-break-before: always;
  }

  main{
    width:1100px;
    overflow:hidden;
    overflow-x:  hidden;
  }
  
  td, th{
    page-break-inside: avoid;
  }
  th{
    height:1.75in;
  }
  th>span>span{
    width:1.75in;
  }
}





/*
table tbody tr:nth-child(45n) td{
  border:1px solid red;
  background: red;
}

*/

